# =========================
# Python Runtime
# =========================

BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_PYTHON3_SQLITE=y
BR2_PACKAGE_PYTHON3_SSL=y
BR2_PACKAGE_PYTHON3_ZLIB=y
BR2_PACKAGE_PYTHON3_BZIP2=y
BR2_PACKAGE_PYTHON3_READLINE=y


# =========================
# Database
# =========================

BR2_PACKAGE_SQLITE=y


# =========================
# Flask Web Gateway
# =========================

BR2_PACKAGE_PYTHON_FLASK=y


# =========================
# MQTT Communication
# =========================

BR2_PACKAGE_PYTHON_PAHO_MQTT=y


# =========================
# Redis Message Bus
# =========================

BR2_PACKAGE_REDIS=y
BR2_PACKAGE_PYTHON_REDIS=y


# =========================
# HTTP
# =========================

BR2_PACKAGE_PYTHON_REQUESTS=y


# =========================
# WebSocket
# =========================

BR2_PACKAGE_PYTHON_SIMPLE_WEBSOCKET=y
BR2_PACKAGE_PYTHON_WEBSOCKETS=y
